@import url(fonts.css);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(36, 36, 36);
  color: white;
  font-family: FreeMono;
}

a {
  color: white;
  text-decoration: none;
}