.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

#main-title {
 font-weight: bolder; 
}

#main-subtitle {
  font-weight: lighter;
}



#section-aboutme {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

nav {
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
}

nav a {
  text-decoration: none;
  color: rgb(202, 74, 252);
}

nav a:hover {
  text-decoration: underline;
}

.data-type {
  color: rgb(86, 142, 247);
  font-weight: bold;
}

#github-contact {
  color: rgb(79, 103, 212);
  text-decoration: underline;
}

#email-contact {
  color: chocolate;
  text-decoration: underline;
}

@media only screen and (max-width: 375px) {
  main {
    width: 100%;
  }

  #main-subtitle {
    font-size: medium;
  }

  #section-aboutme {
    flex-direction: column;
    align-items: center;
  }

  nav {
    margin-bottom: 1rem;
  }
}