.main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
}

#main-title {
  text-decoration: underline;
  color: rgb(5, 163, 255);
}

#main-subtitle {
  font-weight: lighter;
  font-style: italic;
}



#section-aboutme {
  display: flex;
  padding: 1rem;
  gap: 1rem;
}

nav {
  width: fit-content;
  margin: auto;
  margin-top: 1rem;
}

nav::before {
  content: "Links: {";
}

nav::after {
  content: "}";
}

nav a {
  text-decoration: none;
  color: rgb(202, 74, 252);
}

nav a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 375px) {
  main {
    width: 100%;
  }

  #main-subtitle {
    font-size: medium;
  }

  #section-aboutme {
    flex-direction: column;
    align-items: center;
  }

  nav {
    margin-bottom: 1rem;
  }
}